<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/js/vue.js"></script>
    <style>
        body{
            margin: 0;
            box-sizing: border-box;
        }
        #app{
           width: 620px;
           margin: 100px auto;
           background-color:rgba(0, 0, 0, 0.2);
        }
        span{
            
            display:inline-block;
            padding: 3px 5px;
            background-color:rgba(0, 0, 0, 0.4);
          
        }
    </style>
</head>
<body>
    <div id="app">
        <div v-for="n in 9">
                <span v-for="m in n">{{m}}*{{n}}={{n*m}}</span> 
        </div>
        
    </div>

    <script>
    new Vue({
        el:'#app',
        data:{

        },
        methods: {
            
        },
    })
    </script>
</body>
</html>