<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/vue/2.6.4/vue.js"></script>
    <style>
        .v-enter,
        .v-leave-to{
            opacity: 0;
            transform: translateX(150px);
        }
        .v-enter-active,
        .v-leave-active{
            transition: all 0.8s ease-in;
        }
        .my-enter,
        .my-leave-to{
            opacity: 0;
            transform: translateY(70px);
        }
        .my-enter-active,
        .my-leave-active{
            transition: all 0.8s ease-in;
        }

    </style>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="button" value="toggle" @click='flag=!flag'>
        <transition >
                <h3 v-if='flag'>这是一个H3</h3>
        </transition>
        <hr>
        <input type="button" value="toggle2" @click='flag2=!flag2'>
        <transition name='my' >
                <h3 v-if='flag2'>这是一个H3</h3>
        </transition>
    </div>

    <script>
        new Vue({
            el:'#app',
            data() {
                return {
                    flag:false,
                    flag2:false
                }
            },
            methods: {
                
            },
        })
    </script>
</body>
</html>