<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/vue/2.6.4/vue.js"></script>

    <title>Document</title>
</head>
<body>
    <div id="app">
        全选
        <input type="checkbox" v-model="selectAll" >
      
        <ul>
            <li v-for="item in users">
                
                <input type="checkbox" v-model='item.checked'>
                {{item.name}}
            </li>
        </ul>
        <button @click="deleteMany">批量删除</button> <button @click="changeSelect">反选按钮</button>
    </div>

    <script>
        new Vue({
            el:"#app",
            data:{
                selectAll:false,
                users:[
                    {name:'张三',checked:false},
                    {name:'张李四',checked:false},
                    {name:'王二麻',checked:false},
                ]
            },
            watch: {
                selectAll(val,old){
                    this.users.forEach((item)=>{
                        item.checked=val;
                        
                    })
                }
            },
            methods: {
                deleteMany(){
                    this.users=this.users.filter((item)=>!item.checked)
                },
                changeSelect(){
                    this.users.forEach((item)=>{
                        item.checked=!item.checked
                    })
                }
            },
        })
    </script>
</body>
</html>